RMIJO2_09_28/SZB_konyv.dtd

<?xml encoding="UTF-8"?>

<!ELEMENT konyvek (konyv)+>
<!ATTLIST konyvek
  xmlns CDATA #FIXED ''>

<!ELEMENT konyv (cim,szerzo,kiadasi_ev,kiado)>
<!ATTLIST konyv
  xmlns CDATA #FIXED ''
  id NMTOKEN #REQUIRED>

<!ELEMENT cim (#PCDATA)>
<!ATTLIST cim
  xmlns CDATA #FIXED ''>

<!ELEMENT szerzo (#PCDATA)>
<!ATTLIST szerzo
  xmlns CDATA #FIXED ''>

<!ELEMENT kiadasi_ev (#PCDATA)>
<!ATTLIST kiadasi_ev
  xmlns CDATA #FIXED ''>

<!ELEMENT kiado (#PCDATA)>
<!ATTLIST kiado
  xmlns CDATA #FIXED ''>
