RMIJO2_10_12/SZB_nevjegykartya.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="cards">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="card">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string" />
              <xs:element name="company">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="company_name" type="xs:string" />
                    <xs:element name="address">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="number" type="xs:unsignedShort" />
                          <xs:element name="city" type="xs:string" />
                          <xs:element name="street" type="xs:string" />
                          <xs:element name="house" type="xs:unsignedByte" />
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="phone_number" type="xs:unsignedLong" />
              <xs:element name="webpage" type="xs:string" />
              <xs:element name="position" type="xs:string" />
              <xs:element name="email" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="id" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>